<!-- src/app/login/login.component.html -->
<div class="flex fd-column ai-center jc-center container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" >
            <div  class="flex fd-column">


                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>


                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>
            </div>
        </form>
    </mat-card>
</div>
